---
title: Sumo Logic Nozzle for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
    }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Sumo Logic Nozzle for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the Sumo Logic Nozzle for PCF tile.

## <a id='overview'></a>Overview

Sumo Logic is a secure, AWS-hosted machine data analytics service, delivering real-time insights from logs, metrics and event data across the entire application lifecycle and stack. The Sumo Logic service centralizes and unifies log data and time-series metrics and leverages machine learning analysis to uncover real-time insights into application operations and security.

The Sumo Logic service provides the following:

* Granular visibility across your entire app stack - including applications, infrastructures, and service (Cloud or hybrid)
* Proactive problem identification and troubleshooting with machine learning driven analytics - Sumo Logic leverages powerful machine learning driven analytics capabilities such as pattern identification, outlier detection and predictive trending to quickly alert and troubleshoot app and infrastructure performance and security issues.
* Pre-built analytics and dashboard support for AWS, Azure, Hybrid and on-prem application, infrastructure and services. For example, Sumo Logic supports serveral AWS services including Amazon EC2, Amazon S3, AWS CloudTrail, Amazon CloudFront, Elastic Load Balancing (ELB), Amazon VPC Flow Logs, AWS Config, AWS Lambda out of the box.
* Instant Value with a highly scalable and secure SaaS service - get started in minutes and have access to all the latest capabilities without the need for time-consuming, expensive upgrades. And all your data is protected in the Sumo Logic platform which has industry best security certifications including PCI DSS 3.2 Service Provider Level 1 and HIPAA.
* Elastic Scalability - the multi-tenant architecture scales on demand to support rapid application growth and cloud migration. The service overcomes the inherent limitations of traditional architectures by allowing organizations to burst as needed without any manual intervention.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Sumo Logic Nozzle for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 1, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9 and later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9 and later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Sumo Logic Nozzle for PCF has the following requirements:

+ Administrative access to your PCF deployment

+ A [Sumo Logic account](https://www.sumologic.com/pricing/)

## <a id="feedback"></a>Feedback

Please send any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@sumologic.com.

## <a id='license'></a>License

See our [Service License Agreement](https://www.sumologic.com/terms-conditions/service-license-agreement/).
