---
title: Sumo Logic Nozzle for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>IMPORTANT: </strong>
The Sumo Logic Nozzle for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the Sumo Logic Nozzle for PCF tile.

## <a id='overview'></a>Overview

Sumo Logic is a secure, AWS-hosted machine data analytics service delivering real-time insights from logs, metrics, and event data across the entire app lifecycle and stack.
The Sumo Logic service centralizes and unifies log data and time-series metrics and leverages machine learning analysis to uncover real-time insights into app operations and security.

The Sumo Logic Nozzle for PCF can help you:

* View global maps to monitor the overall health and security of your PCF resources
* Drill down from alerts to see key performance metrics and audit logs for PCF and your custom apps
* Store PCF audit details in a fully secure SOC 2, HIPIAA, and PCI-compliant environment

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Sumo Logic Nozzle for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 11, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9 and later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9 and later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Sumo Logic Nozzle for PCF has the following requirements:

+ Administrative access to your PCF deployment

+ A [Sumo Logic account](https://www.sumologic.com/pricing/)

## <a id="feedback"></a>Feedback

Please send any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@sumologic.com.

## <a id='license'></a>License

See our [Service License Agreement](https://www.sumologic.com/terms-conditions/service-license-agreement/).
