---
title: Installing and Configuring Sumo Logic Nozzle for PCF
owner: Partners
---

This topic describes how to install and configure Sumo Logic Nozzle for Pivotal Cloud Foundry (PCF).

##<a id='prereqs'></a>Prerequisites

Before you install the Sumo Logic Nozzle for PCF tile, you need to have a [Sumo Logic](https://www.sumologic.com) account.

##<a id='create'></a> Create a PCF System Account
 
Follow the steps below to create a UAA user that gives the nozzle access to the [Firehose](https://docs.pivotal.io/pivotalcf/1-10/loggregator/architecture.html#firehose) and [Cloud Controller](https://docs.pivotal.io/pivotalcf/1-10/concepts/architecture/cloud-controller.html).

1. Install the UAA Command Line Interface (CLI) tool, `uaac`:

    <pre class="terminal">$ gem install cf-uaac</pre>

1. Target your UAA server by running the `uaac target uaa.YOUR-SYSTEM-DOMAIN` command. See the following example:

    <pre class="terminal">$ uaac target uaa.sys.example.com</pre>

1. Record `uaa:admin:client_secret` from one of the following:
<br><br>
    * The Cloud Foundry deployment manifest
    * The Ops Manager Installation Dashboard

    To retrieve `client_secret` from Ops Manager, click the **Pivotal Elastic Runtime**, navigate to the **Credentials** tab, and locate the **Admin Client Credentials** entry in the **UAA** section.

1. Authenticate to UAA using `client_secret` obtained in the previous step:
    <pre class="terminal">$  uaac token client get admin -s ADMIN-CLIENT-SECRET</pre>

1. Create a Honeycomb Nozzle user with a password of your choice:
```$ uaac -t user add honeycomb-nozzle-user --password PASSWORD --emails na```

1. Add the user to the Cloud Controller Admin Read-Only group:
```$ uaac -t member add cloud_controller.admin_read_only honeycomb-nozzle-user``

1. Add the user to the Doppler Firehose group:
```$ uaac -t member add doppler.firehose honeycomb-nozzle-user```

For more information about creating a UAA user, see [Creating and Managing Users with the UAA CLI](http://docs.pivotal.io/pivotalcf/1-10/adminguide/uaa-user-management.html).

##<a id='create-tile'></a> Install and Configure the Tile

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Sumo Logic Nozzle for PCF. This adds the tile to your staging area.

1. Click the newly added Sumo Logic Nozzle for PCF tile.

1. **This portion of the procedure should tell the users how to configure the newly added tile by walking them through the sections. Which fields should they fill out? What are the different checkboxes? Include relevant screenshots here.** 

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.
