---
title: Using Sumo Logic Nozzle for Pivotal Platform
owner: Partners
---

This topic describes how to use Sumo Logic Nozzle for Pivotal Platform.


## <a id='using'></a> Using the Sumo Logic Nozzle

After installation, the Sumo Logic Nozzle is available in the Apps Manager.

1. From the **system** drop-down menu, select **sumo-logic-nozzle-org**.

1. Under Apps, select the name of the build you want. For example, **sumo-logic-nozzle-0.1.0-build3**.
<%= image_tag("selectnozzle.png") %> 

1. Push the **Start** button to begin running the nozzle.
<%= image_tag("selectplay.png") %> 

1. Cloud Foundry will provision the VMs and begin running the nozzle service.


## <a id='using'></a> Using Sumo Logic

After you have installed the Sumo Logic Nozzle for Pivotal Platform tile and started running the nozzle service, you can begin ingesting data into Sumo Logic and [running searches](https://help.sumologic.com/Search/Search_Cheat_Sheets/General_Search_Examples_Cheat_Sheet). If this is your first time using Sumo Logic, see [Building a Search Query](https://help.sumologic.com/Start_Here/Quick_Start_Tutorial/05_Build_a_Search_Query).

You can also create [dashboards and alerts](https://help.sumologic.com/Dashboards_and_Alerts) in Sumo Logic.


## <a id='troubleshooting'></a> Troubleshooting

Troubleshooting information for Sumo Logic sources is available in [Sources FAQ](https://help.sumologic.com/Send_Data/Source_FAQs).
